@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 195px 0;
  box-sizing: border-box;
  animation: popup 0.25s ease-in;
}

@media (max-width: 375px) {
  .popup {
    padding: 123px 0;
  }
}
.popup_opened {
  display: flex;
}

.popup__container {
  margin: 0 auto;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  min-width: 282px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
  border: 0;
}

@media (max-width: 425px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__header {
  margin: 0 0 41px 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.208;
  color: #000000;
  text-align: left;
}

@media (max-width: 375px) {
  .popup__header {
    margin: 0 0 68px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
.popup__inputs-container {
  margin: 0 0 25px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

@media (max-width: 375px) {
  .popup__inputs-container {
    margin: 0 0 22px 0;
  }
}

.popup__input {
  border: 0;
  margin: 0 0 23px 0;
  height: 34px;
  padding: 6px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
}

.popup__input:focus {
  border: 0;
  box-sizing: border-box;
  outline: 2px solid #808080;
  outline-offset: 3px;
}

.popup__input::placeholder {
  color: #000;
  opacity: 0.6;
}

@media (max-width: 375px) {
  .popup__input {
    padding: 0 0 3px 0;
  }
}

.popup__backdrop {
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
