.card__like-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(0, 10px);
  transition: transform cubic-bezier(0, 0.6, 0.82, 1.03) 0.3s;
}

// TODO move to separate file
.card__like-container_is-liked {
  transform: translate(0, 0);
  transition: transform cubic-bezier(0, 0.6, 0.82, 1.03) 0.3s;
}
