.button-close {
  width: 32px;
  height: 32px;
  background-image: url('../../images/button-close.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -8px;
  right: -8px;
  transform: translate(100%, -100%);
  z-index: 3;
  border: none;
}

@media (max-width: 530px) {
  .button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -16px;
    transform: translate(0, -100%);
  }
}
