.card__like-button {
  width: 24px;
  height: 24px;
  background-image: url('../../../images/likeButton.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.1s ease-in-out;
}

.card__like-button:hover {
  transform: scale(1.1);
  transform-origin: bottom;
  transition: transform 0.1s ease-in-out;
}
