.form__input_type_error {
  margin: 0;
  border-bottom: 1px solid #ff0000;
}

.form__input_type_error:focus {
  border: 0;
  box-sizing: border-box;
  outline: 1px solid #ff000040;
  outline-offset: 3px;
}

/* TODO переместить стили в form__input:invalid {} и form__input:invalid:focus {} */
