.button-like_active {
  width: 26px;
  height: 26px;
  background-image: url('../../images/button-like_active.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}
