/* 
* {
  outline: 1px dashed pink;
} */

/* NORMALIZE */
@import url('../vendor/normalize.css');

/* FONTS */
@import url('../blocks/fonts/fonts.css');

.root {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #fff;
}

.page {
  margin: 0 auto;
  padding: 0 27px 0;
  box-sizing: border-box;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.header {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  padding: 45px 0 41px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  background-color: #545454;
  opacity: 0.7;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.header__logo {
  background-image: url('../images/logo_white.svg');
  min-width: 142px;
  height: 33px;
  background-size: cover;
  background-position: center;
}

/* PROFILE */
.profile {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  padding: 40px 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile__info-text-wrapper {
  margin: 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  position: relative;
}

.profile__info {
  display: flex;
}

.profile__name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.profile__description {
  margin: 8px 0 0;
  padding: 0;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
}

.edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url('../images/button-edit.svg');
  background-size: cover;
  background-position: center;
  background-color: #000;
  border: none;
}

.edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity cubic-bezier(0, 0.1, 0.4, 1) 1s;
}

.edit-button_place_profile {
  position: absolute;
  top: 37px;
  right: -19px;
  transform: translate(100%, 0);
}

.add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url('../images/button-add.svg');
  background-size: cover;
  background-position: center;
  background-color: #000;
  border: none;
}

.add-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity cubic-bezier(0, 0.1, 0.4, 1) 1s;
}

.add-button_place_profile {
  /* transform: translateY(50px); */
}
