/* NORMALIZE */
@import url('../vendor/normalize.css');

/* FONTS */
@import url('../blocks/fonts/fonts.css');

.root {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #fff;
}

.page {
  margin: 0 auto;
  padding: 0 27px 0;
  box-sizing: border-box;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (max-width: 320px) {
  .page {
    padding: 0 19px 0;
  }
}

/* HEADER */
.header {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  padding: 45px 0 41px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  background-color: #545454;
  opacity: 0.7;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}
@media (max-width: 768px) {
  .header {
    padding-left: 31.6px;
    padding-right: 31.6px;
    box-sizing: border-box;
  }
}
@media (max-width: 320px) {
  .header {
    padding: 28px 0;
    box-sizing: border-box;
  }
}
.header__logo {
  background-image: url('../images/logo_white.svg');
  min-width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  .header__logo {
    /* margin-left: 8px; */
    max-width: 103.74px;
    height: 24.4px;
  }
}

/* PROFILE */
.profile {
  width: 100%;
  max-width: 880px;
  padding: 40px 0 25px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .profile {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

.profile__container {
  display: flex;
  position: relative;
}

@media (max-width: 768px) {
  .profile__container {
    flex-wrap: wrap;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
}

.profile__photo {
  margin: 0 30px 0 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

@media (max-width: 768px) {
  .profile__photo {
    margin: 0 0 26px 0;
  }
}

.profile__headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 62px 0 0;
}

@media (max-width: 768px) {
  .profile__headings {
    /* align-items: center; */
    margin: 0;
    width: 100%;
  }
}

.profile__name {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  vertical-align: baseline;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__name {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .profile__name {
    max-width: 200px;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}

.profile__about {
  margin: 8px 0 0;
  padding: 0;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__about {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

.button {
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  color: transparent;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity cubic-bezier(0, 0.1, 0.4, 1) 1s;
}

.button_action_edit {
  width: 24px;
  height: 24px;
  background-image: url('../images/button-edit.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 37px;
  right: -43px;
}

@media (max-width: 768px) {
  .button_action_edit {
    top: 16px;
  }
}

@media (max-width: 320px) {
  .button_action_edit {
    top: 4px;
    right: 0;
  }
}

.button_action_add {
  width: 150px;
  height: 50px;
  background-image: url('../images/button-add.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 2px;
}

@media (max-width: 768px) {
  .button_action_add {
    margin: 0 auto;
    width: 294px;
  }
}
@media (max-width: 320px) {
  .button_action_add {
    width: 282px;
  }
}

.button_action_submit {
  width: 100%;
  max-width: 358px;
  height: 50px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
  color: #ffffff;
  border: none;
}

.button_action_submit:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .button_action_submit {
    max-width: 238px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.214;
    text-align: center;
  }
}

.button_action_close {
  width: 32px;
  height: 32px;
  background-image: url('../images/button-close.svg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -8px;
  right: -8px;
  transform: translate(100%, -100%);
  z-index: 3;
  border: none;
}

@media (max-width: 530px) {
  .button_action_close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -16px;
    transform: translate(0, -100%);
  }
}

/* FORM */
@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 195px 0;
  box-sizing: border-box;
  animation: popup 0.25s ease-in;
}

@media (max-width: 320px) {
  .popup {
    padding: 123px 0;
  }
}

.popup_closed {
  display: none;
}

.popup__container {
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  min-width: 282px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
  border: 0;
}

@media (max-width: 320px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__header {
  margin: 0 0 43px 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.208;
  color: #000000;
}

@media (max-width: 320px) {
  .popup__header {
    margin: 0 0 68px 0;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
}
.popup__inputs-container {
  margin: 0 0 23px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

@media (max-width: 320px) {
  .popup__inputs-container {
    margin: 0 0 22px 0;
  }
}

.popup__input {
  display: block;
  border: 0;
  margin: 0 0 23px 0;
  height: 34px;
  padding: 0 0 6px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
}

.popup__input:focus {
  border: 0;
  outline: 2px solid #808080;
}

.popup__input::placeholder {
  color: #000;
  opacity: 0.6;
}

@media (max-width: 320px) {
  .popup__input {
    padding: 0 0 3px 0;
  }
}

.popup__backdrop {
  display: block;
  position: absolute;
  cursor: pointer;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* PHOTO-GRID */

.main {
  padding: 26px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}
.photo-grid {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.photo-grid__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-auto-flow: row;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}
.photo-grid__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  width: 282px;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background-color: transparent;
}
.card__label {
  padding: 25px 21px 31px 21px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button_action_like {
  width: 26px;
  height: 26px;
  background-image: url('../images/button-like_disabled.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}

/* FOOTER */
.footer {
  padding: 41px 0 60px 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 880px;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

* {
  outline: 1px dashed pink;
}
