.form__inputs-container {
  margin: 0 0 25px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

@media (max-width: 375px) {
  .form__inputs-container {
    margin: 0 0 22px 0;
  }
}
